@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap');

$fontFamily: 'Red Hat Display', sans-serif;
$profileWidth: 750px;

.Profile {
    font-family: $fontFamily;
    width: $profileWidth;
}

@media screen and (max-width: 800px) {
    $profileWidth: 650px;

    .Profile {
        width: $profileWidth;
    }
}