@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;  
  font-family: "Red Hat Display", sans-serif;
}
body, html {
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  animation: backgroundColorChange 20s linear infinite;
}

@keyframes backgroundColorChange {
  0% {
    background-image: url("backgroundImages/pexels-david-bartus-963278.jpg");
  }
  25% {
    background-image: url("backgroundImages/pexels-jot-singh-2179483.jpg");
  }
  50% {
    background-image: url("backgroundImages/pexels-steve-johnson-1789968.jpg");
  }
  75% {
    background-image: url("backgroundImages/pexels-pixabay-268415.jpg")
  }
  100% {
    background-image: url("backgroundImages/pexels-david-bartus-963278.jpg");
  }
}